<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://grandsysapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-hk1-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>grandsysapi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$grandsysapi</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="SqlEventSourcingConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:eo0io0ujja.database.windows.net,1433;Initial Catalog=EventDb;User ID=grandsysuser@eo0io0ujja;Password=2rdurrjr!@#" Name="Data Source=tcp:eo0io0ujja.database.windows.net,1433;Initial Catalog=EventDb;User Id=grandsysuser@eo0io0ujja;Password=2rdurrjr!@#" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=EventDB;User ID=sa;Password=1111;Min Pool Size=10;Max Pool Size=100;Connect Timeout=30" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SqlEventSourcingConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;Initial Catalog=EventDB;Uid=sa;Pwd=1111;Connect Timeout=30;Min Pool Size=10;Max Pool Size=100" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SqlReadSideConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:eo0io0ujja.database.windows.net,1433;Initial Catalog=ReadSide;User ID=grandsysuser@eo0io0ujja;Password=2rdurrjr!@#" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=ReadSide;User ID=sa;Password=1111;Min Pool Size=10;Max Pool Size=100;Connect Timeout=30" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SqlReadSideConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;Initial Catalog=ReadSide;Uid=sa;Pwd=1111;Connect Timeout=30;Min Pool Size=10;Max Pool Size=100" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SqlEventSourcingConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:eo0io0ujja.database.windows.net,1433;Initial Catalog=EventDb;User Id=grandsysuser@eo0io0ujja;Password=2rdurrjr!@#</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SqlReadSideConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:eo0io0ujja.database.windows.net,1433;Initial Catalog=ReadSide;User ID=grandsysuser@eo0io0ujja;Password=2rdurrjr!@#</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>